
# LOGGING
log_min_error_statement = fatal
# log_min_messages = DEBUG1

# CONNECTION
listen_addresses = '*'

# MODULES
shared_preload_libraries = 'decoderbufs,wal2json'
shared_buffers = 128MB

# REPLICATION
wal_level = logical             # minimal, archive, hot_standby, or logical (change requires restart)
max_wal_senders = 1000             # max number of walsender processes (change requires restart)
max_wal_size = 1GB
min_wal_size = 80MB
wal_keep_segments = 1000          # in logfile segments, 16MB each; 0 disables
wal_sender_timeout = 60s       # in milliseconds; 0 disables
max_replication_slots = 1000       # max number of replication slots (change requires restart)